
$color-orange : #ff920b;

$color-white : #f2f2f2;

$font-family : 'Montserrat', sans-serif;

$color-light-blue : rgba(92,209,201,0.2);

@mixin link {
    text-decoration: none;
    color:$color-white;
}

@mixin li{
  list-style: none;
}

@mixin blink-cursor{
  color:$color-orange;
  animation: blink 1s infinite;
}


@mixin nav_link {
  @include link;
  font-weight: 600;
  margin-right: 25px;
  font-size: 18px;
    @media screen and (max-width :767px){
        margin-top:5px;
        font-weight: 500;
    }
}

@mixin button {
  @include link;
  background-color:$color-orange;
	color:white;
	padding: 8px 14px;
	border-radius: 20px;
	border: none;
	text-align: center;
  font-family: $font-family;
}

@mixin flex-center{
  display:flex;
  align-items:center;
  justify-content:center;
}

@mixin flex-center-column{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

@mixin orange-span{
  color: $color-orange
}
