@use "./mixins-variables" ;


.card_container{
    width:100%;
    height:300px;
    position : relative;
    perspective: 1000px;
    font-family: mixins-variables.$font-family; 
}

.card{
    background-color: #FFFFFF;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    width:100%;
    height:100%;
    position: absolute;
    transition: transform .8s;
    transform-style : preserve-3d;

        &:hover{
            transform: rotateY(180deg);
        }
}


.side{
    width:100%;
    height:100%;
    padding:8px;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotateX(0deg);

        &.side_front {
            @include mixins-variables.flex-center-column;
            z-index: 1;

                &:hover{
                    cursor: pointer;
                }
        }
    
        &.side_back {
            transform: rotateY(180deg);
            
                &:hover{
                    cursor: default;
                }
        }
}


.card_link{
    @include mixins-variables.link;
    @include mixins-variables.button;
    color: #ffffff;
    font-weight: 600;
    transition:all .3s;
        img{
            height:15px;
            margin-right:5px;
        }
        &:hover{
            scale : 1.03;
            box-shadow: 4px 2px 8px lighten(mixins-variables.$color-orange,20%);
            box-shadow: 4px 2px 8px white;
            border-radius:18px;
        }
}

.card_link_container{
    @include mixins-variables.flex-center;
    padding: 5px 0 15px 0;
    margin:0 auto;
    width: 80%;
    position: absolute;
    inset : auto 0 0 0;
}

.card_image{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 2px;
    border-radius: 8px 8px 0 0;
    width:100%;
    height:80%;
    object-fit: cover;
    object-position: top;
    position:relative;
}

li{
    @include mixins-variables.li
}

.mission{
    @include mixins-variables.flex-center;
    text-align: center;
    width:95%;
    font-size:20px;
    padding: 0 15px;
    height:45%;
    padding-bottom:5px;
    line-height:30px; 
}

.card_title{
    @include mixins-variables.flex-center;
    width:100%;
    color: white;
    background-color: mixins-variables.$color-orange;
    height:30%;
     h2{
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     }
}

.tags_container{
    @include mixins-variables.flex-center;
    flex-wrap: wrap;
    justify-content: space-around;
    height:25%;
    width:80%;
    padding-top:5px;
    border-top: 1px solid grey;
}



@media screen and (max-width: 767px){
    .card_container{
        height:220px;
    }

    .mission{
        font-size:16px;
        line-height:25px;
        padding: 0px; 
    }
    
    .card_title {
        height: 25%;
            h2 {
                font-size: 20px;
            }
    }

    .tags_container{
        height:30%;
    }

    .card_link_container{
        padding-bottom:10px;
    }

    .card_link {
        padding: 5px 7px;
    }

    .card_link span{
        font-size:15px;
    }
}