@use "./mixins-variables" ;

.portfolio_page{
    background-color:rgba(92,209,201,0.05);
    margin:0;
}

.portfolio_github{
  margin-top:40px;
  font-family: mixins-variables.$font-family; 
  font-size: 22px;
  @include mixins-variables.flex-center;
    img{
      height: 30px;
      margin-left:5px;
      transition:  scale 0.5s;
      &:hover{
        scale:1.05;
      }
    }
    
}
.portfolio_title{
  margin-bottom: 20px;
}

.filter_buttons_container{
  width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter_button{
  background-color: rgba(255,255,255,0.001);
  border: mixins-variables.$color-orange 2px solid;
  border-radius: 20px;
  padding:5px 10px;
  font-family: mixins-variables.$font-family;
  font-size:20px;
  min-width:100px;
    &:hover{
      cursor:pointer;
      background-color:mixins-variables.$color-orange;
      border: mixins-variables.$color-orange 2px solid;
      color: white;
    }
}

.filter_button_active{
  background-color:mixins-variables.$color-orange;
  border: mixins-variables.$color-orange 2px solid;
  color: white;
  border-radius: 20px;
  padding:5px 10px;
  font-family: mixins-variables.$font-family;
  font-size:20px;
  min-width:100px;
}

.card_list{
    padding-left:0;
    width:95%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:30px;
    margin: 0 auto;
}

.card_great_container{
    max-width:1200px;
    margin:0 auto;
    padding-bottom: 50px;
}

.slide_in{
  width: 350px;
  animation: slideIn 0.8s ease forwards;
}

.blink_cursor{
  @include mixins-variables.blink-cursor;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

  
@keyframes slideIn {
    0% {
      transform: translateX(-200%);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @media screen and (max-width: 767px){
    .portfolio_page{
      margin-top: 20px;
    }

    .filter_buttons_container{
      max-width: 400px;
      display: flex;
      flex-wrap:wrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    
    .filter_button{
      padding:5px 10px;
      font-size:15px;
      min-width:80px;
      white-space:nowrap
    }
    
    .filter_button_active{
      padding:5px 7px;
      font-size:15px;
      min-width:80px;
      white-space:nowrap
    }

    .slide_in{
      width : 260px;
    }
    .portfolio_github{
      margin-top:30px;
      font-size: 18px;
        img{
          height: 25px;
        }
    }

    .card_great_container{
      padding-bottom: 20px;
  }
  }


  @media screen and (max-width: 450px){
    .filter_buttons_container{
      width:100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    .filter_button{
      padding:5px 10px;
      font-size:15px;
     width:180px;
      white-space:nowrap
    }
    
    .filter_button_active{
      padding:5px 7px;
      font-size:15px;
      width:180px;
      white-space:nowrap
    }


  }